<div>
  <mat-button-toggle-group name="numerator" aria-label="Numerator" [(ngModel)]="numerator">
    <mat-button-toggle value="1"><p>1</p></mat-button-toggle>
    <mat-button-toggle value="2"><p>2</p></mat-button-toggle>
    <mat-button-toggle value="3"><p>3</p></mat-button-toggle>
    <mat-button-toggle value="4"><p>4</p></mat-button-toggle>
    <mat-button-toggle value="5"><p>5</p></mat-button-toggle>
    <mat-button-toggle value="6"><p>6</p></mat-button-toggle>
    <mat-button-toggle value="7"><p>7</p></mat-button-toggle>
    <mat-button-toggle value="8"><p>8</p></mat-button-toggle>
  </mat-button-toggle-group>
  <br/>

  <mat-button-toggle-group name="denominator" aria-label="Denominator" [(ngModel)]="denominator">
    <mat-button-toggle value="1"><p>1</p></mat-button-toggle>
    <mat-button-toggle value="2"><p>2</p></mat-button-toggle>
    <mat-button-toggle value="4"><p>4</p></mat-button-toggle>
    <mat-button-toggle value="8"><p>8</p></mat-button-toggle>
    <mat-button-toggle value="16"><p>16</p></mat-button-toggle>
    <mat-button-toggle value="32"><p>32</p></mat-button-toggle>
    <mat-button-toggle value="64"><p>64</p></mat-button-toggle>
  </mat-button-toggle-group>
</div>
