<p>dialog-demo works!</p>
<ol>
  <li>
    <button mat-raised-button (click)="openKeyDialog()">Pick key</button>
    <button mat-raised-button (click)="openClefDialog()">Pick clef</button>
    <button mat-raised-button (click)="openMeterDialog()">Pick meter</button>
    <button mat-raised-button (click)="openScoreDialog()">Pick score</button>
  </li>
  <li *ngIf="answer">
    You chose: <em>{{answer |json}}</em>
  </li>
</ol>


<div>
  <mus-key-display *ngFor="let key of keyDemos" [keyDef]="key"></mus-key-display>

</div>
<mus-key-select></mus-key-select>
