
<div *ngIf="type!=='SimpleSequence' && type!=='CompositeSequence' && type!=='TupletSequence' && type!=='RetrogradeSequence' && type!=='LyricsSequence'">
  {{type}}
</div>

<div *ngIf="type==='SimpleSequence'" class="sequence simple-sequence">
  <div >
    <span class="type">SimpleSequence</span>
    <div class="content"><textarea [(ngModel)]="seqAny._def" (change)="updateSeq(seqAny)"></textarea></div>
  </div>
</div>

<div *ngIf="type==='CompositeSequence'" class="sequence composite-sequence">
  <div>
    <span class="type">CompositeSequence</span>
    <div class="content">
      <div *ngFor="let child of seqAny._sequences" class="side-by-side">
        <app-structured-sequence [sequence]="child"></app-structured-sequence>
      </div>
    </div>
  </div>
</div>

<div *ngIf="type==='TupletSequence'"  class="sequence tuplet-sequence">
  <div >
    <span class="type">TupletSequence ({{seqAny.fraction.numerator}}/{{seqAny.fraction.denominator}})</span>
    <div class="content"><app-structured-sequence [sequence]="seqAny.sequence"></app-structured-sequence></div>
  </div>
</div>

<div *ngIf="type==='RetrogradeSequence'" class="sequence retrograde-sequence">
  <div >
    <span class="type">RetrogradeSequence</span>
    <div class="content"><app-structured-sequence [sequence]="seqAny.sequence"></app-structured-sequence></div>
  </div>
</div>

<div *ngIf="type==='LyricsSequence'" class="sequence lyrics-sequence">
  <div >
    <span class="type">LyricsSequence</span>
    <div class="content"><app-structured-sequence [sequence]="seqAny.sequence"></app-structured-sequence></div>
    <div class="content"><textarea [(ngModel)]="seqAny.lyricsText" (change)="updateLyrics(seqAny)"></textarea></div>
  </div>
</div>

