<div *ngIf="model && insertionPoint">
  <button type="button" (click)="setPitch()">Set pitch</button>
  <button type="button">Clear pitch</button>
  <button type="button">Delete note</button>
  <button type="button">1</button>
  <button type="button">2</button>
  <button type="button">4</button>
  <button type="button">8</button>
  <button type="button">16</button>
  <button type="button">32</button>
  <button type="button">.</button>
  <button type="button">Expr</button>
  <div>
    <button type="button">stacc</button>
    <button type="button">tenut</button>
    <button type="button">ferma</button>
    <button type="button">stac!</button>
    <button type="button">turn</button>
    <button type="button">morde</button>
    <button type="button">prall</button>
    <button type="button">trill</button>
    <button type="button">marca</button>
    <button type="button">sf</button>
  </div>
</div>
