<mus-jmusic-ng [scoreDef]="tuplets" [insertionPoint]="insertionPoint" [scale]="1.2" [restrictions]="restrictionsBefore"></mus-jmusic-ng>
<mus-jmusic-ng [scoreDef]="tuplets" [insertionPoint]="insertionPoint" [scale]="1.2" [restrictions]="restrictionsAfter"></mus-jmusic-ng>


<button (click)="moveLeft()">&lt;</button>
<button (click)="moveRight()">&gt;</button>
<button>&and;</button>
<button>&or;</button>
<select (change)="setVal($event)">
  <option *ngFor="let opt of demos" [value]="opt[0]">{{opt[0]}}</option>
</select>

<input type="number" name="startTimeNum" [(ngModel)]="splitPointNum">
<input type="number" name="startTimeDen" [(ngModel)]="splitPointDen">

<app-structured-music [scoreDef]="tuplets"></app-structured-music>
