.composite {
  margin: 12px 0px;
  border: solid thin maroon;
  border-radius: 10px;
  padding: 0px;

  overflow: hidden;
  &.composite-staff {
    background-color: snow;
  }
  &.composite-voice {
    background-color: #fed;
  }
  .type {
    border: solid thin gray;
    background-color: coral;
    margin-top: 0px;
    padding: 5px 10px;
    border-radius: 0px 0px 10px 0px;
  }
  .content {
    padding: 5px 30px;
  }
}
