mat-card-footer {
  background-color: pink;
}

div.editor {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  white-space: pre;
}
span.marked {
  background-color: pink;
  color: maroon;
}
