<app-toolbar-button (click)="setPitch()">Set pitch</app-toolbar-button>
<app-toolbar-button>Clear pitch</app-toolbar-button>
<app-toolbar-button>+ pitch</app-toolbar-button>
<app-toolbar-button>- pitch</app-toolbar-button>
<app-toolbar-button>Enharm</app-toolbar-button>
<app-toolbar-button>Delete note</app-toolbar-button>
<app-toolbar-button>1</app-toolbar-button>
<app-toolbar-button>2</app-toolbar-button>
<app-toolbar-button>4</app-toolbar-button>
<app-toolbar-button>8</app-toolbar-button>
<app-toolbar-button>16</app-toolbar-button>
<app-toolbar-button>32</app-toolbar-button>
<app-toolbar-button>.</app-toolbar-button>
<app-toolbar-button>Expr</app-toolbar-button>

<app-toolbar-button (click)="setMeter()">Chg meter</app-toolbar-button>
<app-toolbar-button>Chg key</app-toolbar-button>
<app-toolbar-button>Chg clef</app-toolbar-button>

<div>
  <app-toolbar-button>stacc</app-toolbar-button>
  <app-toolbar-button>tenut</app-toolbar-button>
  <app-toolbar-button>ferma</app-toolbar-button>
  <app-toolbar-button>stac!</app-toolbar-button>
  <app-toolbar-button>turn</app-toolbar-button>
  <app-toolbar-button>morde</app-toolbar-button>
  <app-toolbar-button>prall</app-toolbar-button>
  <app-toolbar-button>trill</app-toolbar-button>
  <app-toolbar-button>marca</app-toolbar-button>
  <app-toolbar-button>sf</app-toolbar-button>
</div>
