<p>
  dialogs works!
</p>
<ol>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="answer">
    You chose: <em>{{answer |json}}</em>
  </li>
</ol>

<div>
  <app-display-meter [meterDef]="{ count: 17, value:32 }"></app-display-meter>
  <app-construct-regular-meter [(meterDef)]="demo"></app-construct-regular-meter>
  <app-select-meter [(selected)]="demo"></app-select-meter>
  {{demo|json}}
</div>

<div>
  <mus-meter-display [meterDef]="{ count: 17, value:32 }"></mus-meter-display>
  <mus-meter-construct [(meterDef)]="demo"></mus-meter-construct>
  <mus-meter-select [(selected)]="demo"></mus-meter-select>
  {{demo|json}}
</div>

